/*
Chapter 3: Mobile first or Desktop first?
5 - How to use the Desktop-first mixin
*/

header {
    //Properties for large screens
    width: 100%;
    background: purple;
    @include forSmallScreens(640) {
        //Properties for small screens
        width: 50%;
        background: yellow;
    }
}