/*
Chapter 1: Harness the Power of Sass for Responsive Web Design
23 - Recap example - Compiled CSS from Sass mixin (#2)
*/

.selector-a {
	padding: 10px;
	border: #416e8e 1px solid;
	background: #cccccc;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}