/*
Chapter 1: Harness the Power of Sass for Responsive Web Design
29 - Compiled CSS from the mixin without a value
*/

.selector-a {
	padding: 8px;
	border: #416e8e 1px solid;
	background: #cccccc;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}