/*
Chapter 1: Harness the Power of Sass for Responsive Web Design
69 - Prepros - Nested style outpout
*/

header {
	background: blue;
}
	header .logo {
		float: left;
	}
.container {
	float: right;
}
