/*
Chapter 3: Mobile first or Desktop first?
2 - How to use the Mobile-first mixin
*/

header {
   //Properties for small screens
   width: 50%;
   background: red;
   @include forLargeScreens(640) {
      //Properties for large screens
      width: 100%;
      background: blue;
  }
}