/*
Chapter 3: Mobile first or Desktop first?
34 - SCSS code section of issue with .container_12 and .grid rules
*/

.container_12 {
	width: 980px;
	padding: 0 10px;
	margin: auto;
}
.grid {
	&_1, &_2, &_3, &_4, &_5, &_6, &_7, &_8, &_9, &_10, &_11, &_12 {
		float: left;
		margin: 0 10px;
	}
}
