/*
Chapter 1: Harness the Power of Sass for Responsive Web Design
20 - Recap example - used the keyword 'black' in the box-shadow color property
*/

$brandBlue: #416e8e;
$supportGray: #ccc;

@mixin genericContainer {
	padding: 10px;
	border: $brandBlue 1px solid;
	background: $supportGray;
	box-shadow: 1px 1px 1px rgba(black, .3);
}
