/*
Chapter 1: Harness the Power of Sass for Responsive Web Design
33 - Defatul values in multiple arguments
*/

@mixin genericContainer ($padding: 5px, $bdColor: orange, $bgColor: #999, $boxShdColor: #333) {
	padding: $padding;
	border: $bdColor 1px solid;
	background: $bgColor;
	box-shadow: 1px 1px 1px $boxShdColor;
}